* {
  font-family: 'Poppins', sans-serif;  
  box-sizing: border-box;
  }
  
  body {
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Título del CV */
  .header {
    padding: 30px;
    text-align: center;
    background: lightseagreen;
    color: #f1f1f1;
   }
  
  .header h1 {
    font-size: 50px;
  }

  .tarjeta li{
    font-size: 12px;
  }
  
  /* Barra de navegación */
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    }
  
  /* links de la barra de navegación */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #form{
    float: right;
    background-color: orange;
        }
  
  /* cambiar de color cuando paso el mouse */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  /* Columna izquierda */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Columna Derecha */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Foto */
  .foto {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height:100%;
  }

    
  /* Agregar efectos a los articulos */
  .tarjeta {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .articulo {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background: lightseagreen;
    color: #f1f1f1;
    margin-top: 10px;
    float: right;
     }
  
  /* Responsive layout - when la pantalla es menor que 800px wide, se ve normal las columnas*/
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, hace que se apilen */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  /* estilo del form */

    /*Título del form */

#tituloform{
  padding: 10px;
  text-align: center;
}

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: lightseagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    width: 100%;
    background-color: lightseagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: lightseagreen;
  }

  #enviar{
    width: 100%;
    background-color: lightseagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #envio{
    font-size: 10px;
    color:red
  }

  #volver{
    float: right;
    background-color: orange;
    color: white
        }
  
        #volver:hover {
          background-color: #ddd;
          color: black;
        } 